<div class="max-w-5xl m-auto">
    <p-card *ngIf="todoTask()">
        <div class="flex items-center justify-between">
            <p class="text-xl font-bold">{{ todoTask()?.title }}</p>
            <div class="flex items-center gap-2">
                <app-edit-todo-task-dialog [todoTask]="todoTask()!" (editTodoTaskEvent)="getTodoTaskById()"/>
                <p-button icon="pi pi-trash" size="small" [raised]="true" severity="danger" (click)="showDeleteConfirmation($event)"/>
            </div>
        </div>
        <p class="m-2 opacity-75">
            {{ todoTask()?.description }}
        </p>
    </p-card>
    <p-skeleton class="w-full" height="6rem" *ngIf="!todoTask()"/>

    <div class="flex items-center justify-between my-4">
        <p class="opacity-75">Subtasks</p>
        <p-button label="Edit" variant="text" [raised]="true" size="small"/>
    </div>

    <section>
        <p-card>
            <div class="flex items-center justify-between px-4">
                <h2 class="text-lg font-semibold">Task Title</h2>
                <!-- <p-checkbox [binary]="true" /> -->
                <div class="flex items-center gap-2">
                    <p-button icon="pi pi-pencil" size="small" [raised]="true" severity="secondary" />
                    <p-button icon="pi pi-trash" size="small" [raised]="true" severity="danger" />
                </div>
            </div>
            <p-divider />
            <div class="flex items-center justify-between px-4">
                <h2 class="text-lg font-semibold">Task Title</h2>
                <p-checkbox [binary]="true" />
            </div>
        </p-card>
    </section>

    <p-toast />
    <p-confirmdialog />
</div>

